.form-control{
	border:1px solid #DEE8F1!important;
	box-shadow:none;
	border-radius:2px;
	&:focus{
		outline:none;
		border-color:$primary-color!important;
		box-shadow:none!important;
	}
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BAC3CA!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BAC3CA!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BAC3CA!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BAC3CA!important;
}

//contact form 7

span.wpcf7-not-valid-tip{
    font-size:.8em!important;
    margin-top:5px;
}

div.wpcf7-response-output{
	padding:10px;
	font-size:.9em;
	text-align:center;
	color:#666;
	margin:0 18px 20px 18px;
}

div.wpcf7-validation-errors{
	border:none;
	background:tint(#f7e700,80%);
}

div.wpcf7-mail-sent-ok{
	border:none;
	background:tint(#398f14,80%);
}

div.wpcf7 .ajax-loader{
	display:block;
	margin:10px auto;
}