.company-text{
	p{
		padding-right: $baseline;
		margin-bottom:$baseline*1;

		@include breakpoint(md) {
			padding-right: 0;
		}

	}
}

.company-images{
	position: relative;
	left:60px;
	top:80px;
	height:300px;
	.inner{
		img{
			position:absolute;
			&.img-one{
				top:-50px;
				left:-80px;
			}
			&.img-three{
				top:100px;
				left:-50px;
			}
		}
	}
}