section{
	&.features{
		.feature{
			padding:$baseline 0;
			.features-image{
				float: right!important;
				img{
					margin-top:50px!important;
				}
			  @include breakpoint(md) {
			    float:none!important;
			    img{
			    	margin: 0!important;
			    	// width:100px!important;
			    }
			  }
			}
			.features-text{
				float: left!important;
				.inner{
					@include breakpoint(md) {
						margin-top:$baseline;
						padding-top:0;
					}
					margin-top: 44px;
					padding:$baseline;
				}
			}

			&:nth-child(even){
				.features-image{
					float: left!important;
				}
				.features-text{
					float: right!important;
				}
			}
		}
	}
}