.home-hero {
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	padding:$baseline*3.4 0;
	position: relative;
	overflow:hidden;
	background-color:shade($primary-color,80%);
}

.home-bg{
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	width: 100%;
	height:100%;
	background:$primary-color;
	position:absolute;
	top:0;
	bottom:0;
}

.partners-container{
	position:relative;
	z-index: 200;
	padding:$baseline 0;
	background:#FBFCFC;
	display:flex;
	width:100%;
	border-bottom:1px solid #E5E9ED;
}

ul.pricing-link {
	list-style: none;
	display: inline-block;
	li {
		float: left;
		&.underline {
			text-decoration: underline;
		}
	}
}

.responsive {
	width: 100% !important;
	height: auto !important;
}

.partners-band {
  background: $light-gray-color;
  box-shadow: 0 1px 0 0 #E5E9ED;
	background-image: url("../images/partners.png");
}

.light-blue-band {
	background-color: $light-blue-color;
}

.float-left {
	float: left;
	padding-right: 10px;
}

.call-out-card {
	box-shadow: 0 20px 34px 0 rgba(0,0,0,0.09);
	border-radius: 15px;
}

.pink-num-call-out {
	font-size: 86px;
	color: $pink-color;
	letter-spacing: 0;
}
